.header-container {
  width: 100%;
  height: auto;
  padding: 0 115px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #ffffffe3 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0076ff66;
  backdrop-filter: blur(8px);
}
.header {

  display: flex;
  justify-content: flex-end;
}
.header-nav-buttons {
  position: relative;
  display: flex;
  gap: 62px;
  flex-wrap: wrap;
  border-bottom: 1px solid #70707055;
  
}
.nav-button {
  font-size: 20px;
  color: #050505;
  border: none;
  background-color: transparent;
  padding: 16px 0;
  position: relative;
  border-bottom: 2px solid transparent;
}
.nav-button.nav-button-active {
  border-bottom: 2px solid #0089FF;
}
