.header-container {
  // width: 100%;
  // height: auto;
  // padding: 0 115px;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
}
.header {
  background: #ffffffe3 0% 0% no-repeat padding-box;
  backdrop-filter: blur(8px);
  box-shadow: 0px 3px 6px #0077ff26;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  width: 100%;
  height: auto;
  padding: 0 115px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header-nav-buttons{

  z-index: 100;

  backdrop-filter: blur(8px);
}
.header-nav-buttons ul {
  height: auto;
  position: relative;
  display: flex;
  gap: 62px;
  flex-wrap: wrap;
  border-bottom: 1px solid #70707055;
  margin: 0;
}
.nav-button {
  font-size: 20px;
  color: #050505;
  border: none;
  background-color: transparent;
  padding: 12px 0 6px;
  position: relative;
  border-bottom: 2px solid transparent;
}
.nav-button.nav-button-active {
  border-bottom: 2px solid #0089FF;
}

.menu-button-wrapper{
  margin-bottom: 0;
  display: none;
}

@media screen and (max-width: 867px){
  .header-container {
    padding: 15px  25px;
  }
  .header{
    padding: 10px ;
    
  }
  .header-nav-buttons{
    display: none;
  }
  .menu-button-wrapper{
    display: block;
    position: relative;
    width: 30px ;
    height: 20px ;
    cursor: pointer;
    z-index: 200;
    
}
.menu-button-wrapper span{
    position: absolute;
    background-color: black;
    left: 0;
    top: 9px ;
    width: 100% ;
    height: 2px ;
    transition: all 0.3s ease 0s;
}
.menu-button-wrapper.menu-button-wrapper-active span{
    transform: scale(0);
    
}
.menu-button-wrapper::before ,
.menu-button-wrapper::after{
    content: '';
    display: block;
    position: absolute;
    background-color: black ;
    width: 100% ;
    height: 2px ;
    left: 0 ;
    transition: all 0.3s ease 0s;
}
.menu-button-wrapper:before{
    top: 0;
}
.menu-button-wrapper::after{
    bottom: 0;
}
.menu-button-wrapper.menu-button-wrapper-active::before{
    transform: rotate(45deg);
    top: 9px;
}
.menu-button-wrapper.menu-button-wrapper-active::after{
    transform: rotate(-45deg);
    bottom: 9px;
}

.header-nav-buttons{
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 40px;
  transition: all 0.3s ease 0s;
  overflow: auto;
  & ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid transparent;
  }
}
.header-nav-buttons.menu-active{
  top: 0;
}
}