@import url("https://fonts.googleapis.com/css2?family=Abel&family=Lato:ital,wght@0,100;0,300;0,700;1,100&display=swap");
.section5-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow-y: hidden;
}
.section5 {
  width: 100%;
  background-color: #e3e3e3;
  padding: 0  100px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  padding-top: 26px;
}
.section5-aside{
  background-color: white;
}
.form-wrapper {
  height: 600px;
  width: 600px;
  padding:0  100px 170px 100px;
  position: static;
  background: #1160ba6e 0% 0% no-repeat padding-box;
  border-radius: 50% ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 0px 5vw #ffffff5d, 0px 0px 0px 10vw #ded8d8;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 9px;
  margin-top: 22px;
}
.avatar {
  opacity: 1;
  border-radius: 100%;
}

.name {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 18px;
  font-family: normal normal 900 21px/47px Lato;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 340px;
}

.input {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  border: none;
  width: 100%;
  padding: 8px 12px;
}
.input::placeholder {
  font-size: 16px;
  color: #a89e9ed9;
  font-weight: 500;
}
.button-send {
  background: transparent linear-gradient(180deg, #008cba 0%, #086add 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 10px;
  width: 100%;
}
.button-send:hover{
  background: transparent linear-gradient(180deg, #0ca1d2 0%, #1473e1 100%) 0%
    0% no-repeat padding-box;
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .section5{
    padding: 0px;
    display: flex;
    padding: 0 40px;
  }
  .form-wrapper {
    padding-bottom: 100px;
    background: transparent;
    box-shadow: none;
    width: 700px;
  }
  .form {
    width: 100%;
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .section5{
    padding: 0px;
    display: flex;
    padding: 0 40px;
  }
  .form-wrapper {
    padding:15px 15px 100px 15px ;
    background: transparent;
    box-shadow: none;
    width: 100%;
  }
  .form {
    width: 100%;
    gap: 10px;
  }
}
