.section4-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.section4 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 28px 140px 63px 140px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.section4-aside{
  background-color: white;
}
.image {
  cursor: pointer;
  transform: scale(1);
  transition: all 0.9s ease;
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
}
.image:hover {
  transform: scale(1.1);
  transition: all 0.9s;
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -1px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 1px;
}
// 


@media screen and (min-width: 993px) and (max-width: 1200px) {
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .section4{
    padding: 20px 30px 30px 77px;
  }
}
@media screen and (max-width: 768px) {
}