.section3-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.section3 {
  width: 100%;
  min-height: 50vh;
  background-color: #0c032921;
  padding: 96px 3% 105px 8%;
  display: flex;
  justify-content: center;
}

.slice1-wrapper {
  position: relative;
  width: 40%;
  height: auto;
  background: #1160ba38;
  border-radius: 10px;
  padding: 0 15px;

  .slice1 {
    .slice1-head-wrapper {
      position: absolute;
      top: -5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;

      position: relative;
      .slice1-head {
        font: normal normal bold 48px/20px Malayalam Sangam MN;
        letter-spacing: 3.55px;
        color: #877fa3;
        text-shadow: 0px 3px 6px #00000029;
        margin-bottom: 0;
      }
    }
  }
  .slice1-row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
    position: relative;
    .slice1-row1-image-wrapper {
      transform: translatey(0px);
      animation: float 6s ease-in-out infinite;
      padding: 11px 34px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      background: #ffffff2f 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 15px;
    }
  }
  .slice1-row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
    position: relative;
    .slice1-row2-image-wrapper {
      transform: translatey(0px);
      animation: float 6s ease-in-out infinite;
      position: relative;
      padding: 11px 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff2f 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 15px;
    }
  }
  .slice1-row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
    position: relative;
    .slice1-row3-image-wrapper {
      transform: translatey(0px);
      animation: float 6s ease-in-out infinite;
      position: relative;
      padding: 14px 83px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff2f 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 15px;
    }
  }
  .slice1-row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
    position: relative;
    .slice1-row4-image-wrapper {
      transform: translatey(0px);
      animation: float 6s ease-in-out infinite;
      position: relative;
      padding: 14px 83px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 15px;
    }
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}
.slice2-wrapper {
  position: relative;
  margin-left: 32px;
  width: 60%;
  height: auto;
  background: #1160ba38;
  border-radius: 10px;
  padding: 53px 29px;
  .slice2 {
    .slice2-head-wrapper {
      position: absolute;
      top: -65px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      .slice2-head {
        font: normal normal bold 48px/40px Malayalam Sangam MN;
        letter-spacing: 3.55px;
        color: #877fa3;
        text-shadow: 0px 3px 6px #00000029;
        margin-bottom: 5px;
      }
    }
  }
}

.slice2-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin-bottom: 9px;
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .section3{
    padding: 40px 20px 50px 80px;
  }
  .slice1-wrapper {
    padding: 0 15px;
    .slice1 {

      .slice1-head-wrapper {
        top: -5px;
        position: relative;
        .slice1-head {
          font: normal normal bold 21px/15px Malayalam Sangam MN;
          margin-bottom: 0;
        }
      }
    }
    .slice1-row1 {
      gap: 15px;
      margin-bottom: 10px;
    }
    .slice1-row2 {
      gap: 15px;
      margin-bottom: 10px;
    }
    .slice1-row3 {
      gap: 15px;
      margin-bottom: 10px;
    }
  }
  .slice2-wrapper {
    width: 60%;
    padding: 45px 15px;
    .slice2 {
      .slice2-head-wrapper {
        top: -50px;
        position: relative;
        .slice2-head {
          font: normal normal bold 21px/15px Malayalam Sangam MN;
          margin-bottom: 0px;
        }
      }
    }
  }
  .slice2-images {
    gap: 15px;
    margin-bottom: 3px;
  }
}
@media screen and (max-width: 768px) {
  .section3{
    padding: 30px 15px;
    flex-direction: column;
  }
  .slice1-wrapper{
    width: 100%;
    margin-bottom: 25px;
    .slice1 {
      .slice1-head-wrapper {
        top: -3px;
        margin-bottom: 10px;
        margin-top: 5px;
        position: relative;
        .slice1-head {
        position: relative;
          font: normal normal bold 25px/10px Malayalam Sangam MN;
          
        }
      }
    }
    .slice1-row1 {
      gap: 15px;
      margin-bottom: 10px;
    }
    .slice1-row2 {
      gap: 15px ;
      margin-bottom: 10px;
    }
    .slice1-row3 {
      gap: 15px;
      margin-bottom: 10px;
    }
  }
  .slice2-wrapper{
    margin-left: 0;
    width: 100%;
    padding: 0px 15px;
    .slice2 {
      .slice2-head-wrapper {
        top: 0px;
        margin-bottom: 10px;
        .slice2-head {
          font: normal normal bold 25px/30px Malayalam Sangam MN;
          margin-top: -10px;
        }
      }
    }
  }
  .slice2-images {
    gap: 15px;
    margin-bottom: 15px;
    grid-template-columns: repeat(1, 1fr);
  }
}
