.section3-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.section3 {
  width: 100%;
  min-height: 50vh;
  background-color: #0c032921;
  padding: 96px 3% 105px 8%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.section3-aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  border-right: 1px solid #7070703c;
  background-color: white;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 5;
  & h2 {
    font-size: 50px;
    opacity: 0.8;
    transform: rotate(270deg);
    z-index: 5;
    color: white;
    white-space: nowrap;
    letter-spacing: 4.15px;
    text-shadow: 1px 0 1px #003869, 0 1px 1px #003869, -1px 0 1px #003869,
      0 -1px 1px #003869;
  }
}

.slice1-wrapper {
  position: relative;
  width: 40%;
  height: auto;
  background: #1160ba38;
  border-radius: 10px;
  .slice1 {
    .slice1-head-wrapper {
      position: absolute;
      top: -5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;

      position: relative;
      .slice1-head {
        font: normal normal bold 48px/20px Malayalam Sangam MN;
        letter-spacing: 3.55px;
        color: #877fa3;
        text-shadow: 0px 3px 6px #00000029;
        margin-bottom: 0;
      }
    }
  }
  .slice1-row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
    position: relative;
    .slice1-row1-image-wrapper {
      padding: 11px 34px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      background: #ffffff2f 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 15px;
    }
  }
  .slice1-row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
    position: relative;
    .slice1-row2-image-wrapper {
      position: relative;
      padding: 11px 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff2f 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 15px;
    }
  }
  .slice1-row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
    position: relative;
    .slice1-row3-image-wrapper {
      position: relative;
      padding: 14px 83px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff2f 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 15px;
    }
  }
  .slice1-row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
    position: relative;
    .slice1-row4-image-wrapper {
      position: relative;
      padding: 14px 83px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 15px;
    }
  }
}


.slice2-wrapper {
  position: relative;
  margin-left: 32px;
  width: 60%;
  height: auto;
  background: #1160ba38;
  border-radius: 10px;
  padding: 53px 29px;
  .slice2 {
    .slice2-head-wrapper {
      position: absolute;
      top: -65px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      .slice2-head {
        font: normal normal bold 48px/40px Malayalam Sangam MN;
        letter-spacing: 3.55px;
        color: #877fa3;
        text-shadow: 0px 3px 6px #00000029;
        margin-bottom: 5px;
      }
    }
  }
}

.slice2-images{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 60px;
  margin-bottom: 9px;
}