.section3-container{
    padding-top: 189px;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

  .section3 {
    width: 100%;
    min-height: 50vh;
    background-color: #676767;
    padding: 0 10% 52px 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
.section3-aside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    border-right: 1px solid #7070703c;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    z-index: 5;
    & h2 {
      font-size: 73px;
      opacity: 0.8;
      transform: rotate(270deg);
      z-index: 5;
      color: #BABABA;
      white-space: nowrap;
      letter-spacing: 4.15px;
    }
  }

  .slice1{
    position: relative;
      width: 50%;
      height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #7070707E;
    border-radius: 0px 0px 16px 16px;
    opacity: 1;
    border-top: 1px solid white;
    padding:61px 100px 5px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    & .slice1-head{
        font-weight: 800;
        position: absolute;
        top: -65px;
        left: 50px;
        color: #C9820F;
        font-size: 72px;
        letter-spacing: 4.13px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
       
    }
  }
  .slice1-image{
      height: auto !important;
      width: auto !important;
  }

   .slice2{
      width: 50%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 25px;
      padding: 160px 0 0 14px;
      border: 1px soolid red;

      & .slice2-head{
        position: absolute;
        font-weight: 800;
        left: 0;
        top: -150px;
        color:  #DBDBDB;
        font-size: 212px;
        letter-spacing: 4.13px;
        margin-bottom: 0;
        text-shadow:  0px 3px 6px #00000029, 0px 3px 6px #00000029;
      }
      & .slice2-image{
        margin-bottom: 10px;
      }
    }
  