
.image-carousel{
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .carousel-container{
    width: 100%;
    padding: 0 100px;
    position: relative;
    background-color: #0000003b;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-wrapper{
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  
  }
  .closeButton{
    position: absolute;
    right: 15px;
    top: -5px;
    border: none;
    background: transparent;
    color: #707070;
    height: 25px;
    width: 25px;
    font-size: 32px;
  }
  .slider{
    width: 100% ;
  }
  .image-carousel{
    width: 100%;
    height: auto;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

  }
  
  .prev{
    position: absolute;
    top: 50%;
    left: 100px;
    z-index: 200;
    cursor: pointer;
  }
  .next{
    position: absolute;
    top: 50%;
    right: 100px;
    z-index: 200;
    cursor: pointer;
    
  }
  