@import url("https://fonts.googleapis.com/css2?family=Abel&family=Lato:ital,wght@0,100;0,300;0,700;1,100&display=swap");
.section2-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #f2f2f2;
}
.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 49px 0 53px 0;
}
.section2-aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  border-right: 1px solid #7070703c;
  background-color: #f2f2f2;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 5;
  & h2 {
    margin: 10px;
    font-size: 50px;
    opacity: 0.8;
    transform: rotate(270deg);
    z-index: 5;
    color: #f2f2f2;
    white-space: nowrap;
    letter-spacing: 4.15px;
    text-shadow: 1px 0 1px #003869, 0 1px 1px #003869, -1px 0 1px #003869,
      0 -1px 1px #003869;
  }
}

.section2-slice1 {
  width: 100%;
  padding-left: 10%;
  margin-bottom: 43px;
  & p {
    width: 88%;
    color: #4e4e4e;
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Roboto";
    margin-bottom: 20px;
  }
}
.section2-slice2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.business-box {
  display: flex;

  justify-content: center;
  align-items: flex-start;
  width: 97%;
  padding: 37px 34px;
  background: #ffffffe8 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
.business-box-slice1{
  width: 50%;
}

.business-box-slice2{
  padding: 0 0 0 29px;
  width: 50%;
  .marsmaris-wrapper{
    width: 100%;

    height: 37px;
    width: 180px;
  }
  .business-box-slice2-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .loading-icon-wrapper{
    margin-bottom: 24px;
  }
}
.business-box-icon {
  width: 157px;
  height: 34px;
}
.business-box-description {
  width: 100%;
  letter-spacing: 2px;
  text-align: left;
  color: #4e4e4e;
  font-size: 21px;
  margin-bottom: 8px;
  font-weight: 500;
  font-family: "Roboto";
  margin-bottom: 29px;
}
.business-box-images {
  display: flex;
  gap: 2px;
  cursor: pointer;
}
.business-box-image {
  transform: scale(1);
  transition: all 0.9s ease;
  object-fit: cover;
}
.business-box-image:hover {
  transform: scale(1.1);
  transition: all 0.9s;
}

.business-box-other-image-wrapper {
  display: flex;
  width: 60%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}
.business-box-website {
  letter-spacing: 1.71px;
  color: #4e4e4e84;
  text-align: left;
  text-decoration: none;
}
