@import url("https://fonts.googleapis.com/css2?family=Abel&family=Lato:ital,wght@0,100;0,300;0,700;1,100&display=swap");
.section2-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #f2f2f2;
}
.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 49px 0 53px 0;
}

.section2-slice1 {
  width: 100%;
  padding:0 100px;
  margin-bottom: 43px;
  & p {
    color: #4e4e4e;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Roboto";
    margin-bottom: 20px;
  }
}
.section2-slice2 {
  padding:0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.business-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 37px 34px;
  background: #ffffffe8 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
.business-box-slice1 {
  width: 50%;
}

.business-box-slice2 {
  padding: 0 0 0 29px;
  width: 50%;
  .marsmaris-wrapper {
    width: 100%;

    height: 37px;
    width: 180px;
    margin-bottom: 10px;
  }
  .business-box-slice2-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .loading-icon-wrapper {
    margin-bottom: 24px;
  }
}
.business-box-icon {
  width: 157px;
  height: 37px;
  margin-bottom: 10px;
}
.business-box-description {
  width: 100%;
  letter-spacing: 2px;
  text-align: left;
  color: #4e4e4e;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 500;
  font-family: "Roboto";
  margin-bottom: 29px;
}
.business-box-images {
  display: flex;
  gap: 2px;
  cursor: pointer;
}
.business-box-image {
  transform: scale(1);
  transition: all 0.9s ease;
  object-fit: cover;
}
.business-box-image:hover {
  transform: scale(1.1);
  transition: all 0.9s;
}

.business-box-other-image-wrapper {
  display: flex;
  width: 60%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}
.business-box-website {
  letter-spacing: 1.71px;
  color: #4e4e4e84;
  text-align: left;
  text-decoration: none;
}
.section2-slice1-see-more-button-wrapper{
  display: none;
}
@media (max-width: 1200px) {
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .section2 {
    padding: 25px 0 35px 0;
  }
  .section2-slice1 {
    padding-right: 15px;
    margin-bottom: 10px;
    & p {
      width: 100%;
      font-size: 18px;
    }
  }
  .section2-slice2{
    width: 100%;
    padding-left: 75px;
    padding-right: 30px;
  }
  .business-box {
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 15px;
  }
  .business-box-slice1 {
    width: 100%;
    margin-bottom: 20px;
  }
  .business-box-description{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .business-box-slice2 {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .section2{
    padding: 15px;
    align-items: flex-start;
  }
  .section2-slice1 {
    width: 100%;
    padding: 0;
    margin-bottom: 23px;
    & p {
      width: 100%;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .business-box-icon {
    width: 80px;
    height: 20px;
    margin-bottom: 10px;
  }
  .business-box-slice2{
    .marsmaris-wrapper{
      width: 100px;
      height: 20px;
    }
  }
  .section2-slice2 {
    width: 100%;
    padding: 0;
  }
  .business-box{
    flex-direction: column;
    width: 100%;
    padding: 15px;
  }
  .business-box-slice1{
    width: 100%;
    margin-bottom: 15px;
  }
  .business-box-slice2{
    width: 100%;
    padding: 0;
  }
  .business-box-description{
    font-size: 16px;
  }


  .section2-slice1-see-more-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #191919;
    font-family: "Lato", sans-serif;
  }
  .section2-slice1-see-more-button{

    background: transparent linear-gradient(180deg, #008cba 0%, #086add 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    border-radius: 2px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 10px;
    width: 150px;
    margin-bottom: 10px;
  }
  .section2-slice1-see-more-button:hover{
    background: transparent linear-gradient(180deg, #0397c8 0%, #0e74e8 100%) 0% 0% no-repeat padding-box;
  }
  .section2-slice1-p{
    max-height: 0;
    overflow: hidden;
    transition: .3s ease;
  }
  .section2-slice1-p-active{
    max-height: 100vh;
  }
}
